@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: mediumpurple;
}

.Container {
    display: flex;
    width: 850px;
    height: 500px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;

}

.bg-img {
    width: 400px;
    height: 450px;
    text-align: center;
    margin-top: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.section-2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    position: relative;
}

h1 {
    display: flex;
    justify-content: start;
    position: absolute;
    top: 10px;
    margin-top: 10px;
    color: rgb(10, 85, 72);
}

.height-box,
.weight-box {
    display: block;
    width: 100%;
    margin-left: 50px;
    padding: 10px;
    font-size: large;
    line-height: 35px;
}

input,
label {
    width: 83%;
    padding: 8px;
}

input {
    border-radius: 4px;
    border: 2px solid rgb(10, 85, 72);
}

label {
    color: gray;
    padding: 10px;
}

.box-1 {
    padding-bottom: 5px;
}

.box-2 {
    padding-bottom: 5px;
}

button {
    padding: 10px 20px;
    background-color: lightslategray;
    color: rgb(252, 251, 251);
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: rgb(10, 85, 72);
}

.footer {
    width: 80%;
    height: auto;
    border: 2px solid rgb(10, 85, 72);
    line-height: 40px;
    position: absolute;
    padding-left: 30px;
    top: 390px;
    color: rgb(10, 85, 72);
}